<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>{%block title%}Musée du Louvre {%endblock%} </title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css')}}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.css')}}" media="screen" >
	<link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ asset('assets/js/html5shiv.js')}}"></script>
	<script src="{{ asset('assets/js/respond.min.js')}}"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.jpg" alt="Musée du louvre"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="{{ path('mu_home_homepage')}}">Accueil</a></li>
					<li><a href="{{ path('mu_home_billeterie') }}">Billeterie</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar --> 

	<!-- Header -->
	<header id="head">{%block head %}
		<div class="container">
			<div class="row">
				<h1 class="lead">Bienvenue sur le site web du musée du Louvre</h1>
				<p class="tagline">L’art, c’est le plus court chemin de l’homme à l’homme. Citations d'André Malraux  </p>
			</div>
		</div>{%endblock%}
	</header>
	<!-- /Header -->
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		{%block container%}
		<div class="container">

			
			<h3 class="text-center thin">Bienvenue sur le site du musée du louvre</h3>
			
			<div class="row">
						<p>Pendant que la cour du Roi Soleil s’installe à Versailles, le Palais du Louvre est occupé par des nobles, des intellectuels et des artistes qui y prennent résidence. Ces derniers font la proposition au roi d’un projet de muséum. Louis XVI aime cette idée et commence les travaux d’aménagement</p>
				
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		{%endblock%}

</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">{%block social%}
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>{%endblock%}
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space"> {%block footer%}

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+237 697943293<br>
								<a href="mailto:#">landrywabo8@gmail.com</a><br>
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Suivez moi :</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="{{ asset('https://github.com/land22')}}"><i class="fa fa-github fa-2"></i></a>
								<a href="{{ asset('https://www.facebook.com/')}}"><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="{{ path('mu_home_homepage') }}">Accueil</a> | 
								<a href="{{ path('mu_home_billeterie') }}">Billeterie</a> |
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2018, Landry. Dev!!! 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>{%endblock%}

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>